<section>
    <!-- Page content-->
    <div class=" business_container">
        <div class="">
            <div class="left-bar">
                <div>
                    <ul nz-menu  nzTheme='light' >
                    <!--<ul nz-menu [nzMode]="'inline'" nzTheme='light' [nzInlineCollapsed]="isCollapsed">-->
                        <li nz-submenu *ngIf="checkIsShow('admin/alarm')">
                            <span title >
                                <i class="anticon anticon-exception"></i>
                                <span >故障管理</span>
                            </span>
                            <ul>
                                <li nz-menu-item (click)="goToUrl('/admin/alarm')" *ngIf="checkIsShow('admin/alarm/list')">故障列表</li>
                            </ul>
                        </li>
                        <li nz-submenu>
                            <span title >
                                <i class="anticon anticon-exception"></i>
                                <span >巡检计划</span>
                            </span>
                            <ul>
                                <li nz-menu-item (click)="goToUrl('/admin/scheduledpatrolplan')">巡检计划任务</li>
                            </ul>
                        </li>
						<li nz-submenu *ngIf="checkIsShow('admin/workorder')">
                            <span title>
                                <i class="anticon anticon-switcher"></i>
                                <span>工单管理</span>
                            </span>
							<ul>
								<li nz-menu-item (click)="goToUrl('/admin/workorder/management')" *ngIf="checkIsShow('admin/workorder/management')">故障工单列表</li>
								<li nz-menu-item (click)="goToUrl('/admin/patrolworkorder')">巡检工单列表</li>
								<li nz-menu-item (click)="goToUrl('/admin/workorder/stats')" *ngIf="checkIsShow('admin/workorder/stats')">工单统计</li>

							</ul>
						</li>
                        <li nz-submenu (click)="goToUrl('/admin/workorder-overview')">
                            <span title>
                                <i class="anticon anticon-switcher"></i>
                                <span>工单概况</span>
                            </span>
                        </li>
                        <li nz-submenu *ngIf="checkIsShow('admin/pipeline')">
                            <span title>
                                <i class="anticon anticon-setting"></i>
                                <span>管网管理</span>
                            </span>
                            <ul>
                                <li nz-menu-item (click)="goToUrl('/admin/pipelinestats')" *ngIf="checkIsShow('admin/pipeline/pipelinestats')">管网统计</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
