<div class=" tableBoxJust ">
    <table class="table_normal ">
        <thead>
        <tr>
            <td>序号</td>
            <td>角色名称</td>
            <td>角色编码</td>
            <td>是否系统默认校色</td>
            <td>权限</td>
            <td>操作</td>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let v of _roleList; let i = index" >
            <td>{{listNum(i)}}</td>
            <td>{{v.name}}</td>
            <td>{{v.code}}</td>
            <td>{{v.defaultType}}</td>
            <td>{{v.privileges}}</td>
            <td>
                <span class="table_btn_primary" (click)="showEditModel(v)">编辑</span>
                <span class="table_btn_primary" (click)="showDeleteModel(v.id)">删除</span>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<!--分页-->
<paginator [(paginator)]="paginator" (pageChange)="pageChanged($event)"></paginator>
<role-editor-index [showEdit]="showEdit" [role] = "role" (closeEdit) = closeEditModel() (saveEdit) = "saveEdit($event)"></role-editor-index>
<role-del-index [(showDelete)] = "showDelete" (closeDelete) = "closeDeleteModel()" (delete)="delete()"></role-del-index>
