@import "../../../styles";
/* header */
.head_box {
    height: $header_height;
    color: #fff
}


.head_title{
    float: left;
    margin-top: 18px;
    margin-left: 20px;
    >*{ vertical-align: middle; display: inline-block;}
    img{height: 20px; }
    .title{ font-weight: bold; font-size: 14px; color: #fff}
}
.head_nav{
    float: left;
    margin-top: 20px;
    margin-left: 20px;
    .item{ color: #999;margin-right: 10px; cursor: pointer}
    .item:hover{ color: #fff; }
    .item.active{ color: #fff;font-weight: bold}
}
.head_info_box{
    float: right;
    margin-top: 10px;
    margin-right: 20px;
    >*{ color: #fff;vertical-align: middle; display: inline-block;}
    .user_head{ height: 40px; width: 40px; border-radius: 100px; margin: 0 5px}
    .login_out{ cursor: pointer}
}
/* header */
