<div class="head_box">
    <div class="head_info_box">
        <span class="">{{user.mobile}},欢迎你</span>
        <img class="user_head" src="assets/img/admin@2x.png" alt="">
        <a class="login_out " (click)="logout()">退出</a>
    </div>
    <a class="head_title" routerLink="/home/index">
        <img src="/assets/img/logo_wap@2x.png" >
        <span class="title">地下污水管网信息化智能管理平台</span>
    </a>
    <div class="head_nav">
        <a class="item" routerLink="/map/pipe-view-2d" routerLinkActive="active">管道示踪</a>
        <a class="item" routerLink="/pipeline-analysis" routerLinkActive="active"  *ngIf="privillegeService.checkPrivillege('admin/pipeline')" >信息统计分析</a>
        <a class="item" routerLink="/home" routerLinkActive="active">实时监控</a>
        <a class="item" routerLink="/map/patroller-map" routerLinkActive="active">管网巡检</a>
        <a class="item" routerLink="/map/map-3d" routerLinkActive="active" target="_blank">3D管网</a>
        <a class="item" routerLink="/admin" *ngIf="privillegeService.checkPrivillege('admin')" routerLinkActive="active">系统管理</a>
        <a class="item" routerLink="/preplan" routerLinkActive="active">预案管理</a>
    </div>
</div>

<!--<div class="nav_head_box">-->
<!--<a class="one_box" [routerLink]="'/map/pipe-view-2d'" [routerLinkActive]="['active']">-->
<!--<img class="box_icon box_icon_default" src="assets/img/showpipeline2.png" alt=""	>-->
<!--<img class="box_icon box_icon_active" src="assets/img/showpipeline1.png" alt=""	>-->
<!--<div class="box_text">管道示踪</div>-->
<!--</a>-->
<!--<a class="one_box" [routerLink]="'/map/map-3d'" [routerLinkActive]="['active']" target="_blank" >-->
<!--<img class="box_icon box_icon_default" src="assets/img/pipeline2.png" alt=""	>-->
<!--<img class="box_icon box_icon_active" src="assets/img/pipeline1.png" alt=""	>-->
<!--<div class="box_text ">3D管道</div>-->
<!--</a>-->
<!--<a class="one_box" [routerLink]="'/map/patroller-map'" [routerLinkActive]="['active']">-->
<!--<img class="box_icon box_icon_default" src="assets/img/monitor2.png" alt=""	>-->
<!--<img class="box_icon box_icon_active" src="assets/img/monitor1.png" alt=""	>-->
<!--<div class="box_text">巡检监控</div>-->
<!--</a>-->
<!--</div>-->



