<div class=" tableBoxJust ">
	<table class="table_normal ">
		<thead>
		<tr>
			<td>序号</td>
			<td>工单状态</td>
			<td>巡检计划</td>
			<td>反馈信息</td>
			<td>执行人</td>
			<td>接单时间</td>
			<td>创建人</td>
			<td>实际完成时间</td>
			<td>要求完成时间</td>
			<td>创建时间</td>
			<td>操作</td>
		</tr>
		</thead>
		<tbody>
		<tr *ngFor="let v of exampleList ;let i = index;">
			<td>{{listNum(i)}}</td>
			<td>{{getWorkOrderStatusName(v.status)}}</td>
			<td>{{v.patrolPlan.name}}</td>
            <td>
                <div class="list-group feedbackbox" *ngIf="v.feedback">
                         <button *ngFor="let vv of v.feedback ;let i=index" container="body" class="list-group-item " (click)="feedbackinfo(vv.id)">
                            <span class="badge">{{i+1}}</span>
                            <template  #j> <div [innerHtml]="vv.time|date:'yyyy-MM-dd HH:mm:ss'"></div></template>
                        </button>
                    </div>
            </td>
			<td><span *ngIf="v.executor!= null">{{v.executor.realName}}</span></td>
			<td><span *ngIf="v.assignAt!= null">{{v.assignAt|date:'yyyy-MM-dd HH:mm:ss'}}</span></td>
			<td>{{v.creator.realName}}</td>
			<td></td>
            <td><span *ngIf="v.finishAt">{{v.finishAt|date:'yyyy-MM-dd HH:mm:ss'}}</span></td>
			<td>{{v.createAt|date:'yyyy-MM-dd HH:mm:ss'}}</td>
			<td>
                <span class="table_btn_primary" *ngIf="v.status == 'PROCESSED' && (myrole == 'schoolmaster' || myrole=='supervisor')" (click)="checkupworkorder(v.feedback[0].id)">审核工单</span>
</td>
		</tr>
		</tbody>
	</table>
</div>

<paginator [(paginator)]="paginator" (pageChange)="pageChanged($event)"></paginator>
