<section>
	<div class="content_title">巡检工单</div>
	<div class="content_inner">

      <patrolworkorder-search></patrolworkorder-search>
		<!--<div class="row right_nav">-->
			<!--<div class="form-inline">-->
				<!--<a class="btn btn-primary pull-right margin_l_15">添加人员</a>-->
			<!--</div>-->
		<!--</div>-->

      <patrolworkorder-list [statusList] ="statusList" [exampleList]="exampleList" [(paginator)]="paginator"  (pageChangedEE) ="pageChanged($event)"></patrolworkorder-list>
	</div>
</section>

