<section>
<div class="content_title">巡检计划</div>
	<div class="content_inner">
   <scheduledpatrolplan-search (addEE)="add()"></scheduledpatrolplan-search>
   <scheduledpatrolplan-list [exampleList] = "exampleList" [(paginator)]="paginator"   (openEE) = "open($event)" (deleteIdEE) ="deleteId($event)" (pageChangedEE) ="pageChanged($event)"></scheduledpatrolplan-list>
   </div>
</section>
<scheduledpatrolplan-editor (closeEE) = "close()" (saveEE) = "save($event)" [showModal] = "showModal" [example]="example"></scheduledpatrolplan-editor>


