@import "../../../styles";
/*框架部分*/
.wrapper{ position: absolute;
    height:100%; width: 100%; overflow: hidden}


.wrapper .app_header {
    z-index: 2;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: $header_height;
    background-image: $blue_header_light;
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.80);
}
.wrapper .app_body {
    z-index: 1;
    position: absolute;
    left: 0;
    right: 0;
    top: $header_height;
    bottom: 0;

}
/*框架部分*/

