<div class="body_login">
    <div class="login-container">
        <div class="login_title_box inline_box">
            <img class="login_logo" src="/assets/img/logo@2x.png">
            <span class="login_title">地下污水管网信息化智能管理平台</span>
        </div>

        <div class="login_content">
            <div class="login_pic"></div>
            <img class="login_logo_left" src="/assets/img/index_l_bg@2x.png" >
            <div class="login_form">
                <form [formGroup]="valForm"  (ngSubmit)="submitForm($event,valForm)"   >
                    <div class="form_title">用户登录</div>
                    <div class="form-group">
                        <input formControlName="mobile" type="text" class="form-control input-lg ipt_input" placeholder="手机号码"/>
                    </div>
                    <!--<p class="text-danger font_12" *ngIf='valForm.controls.mobile.errors?.number || !valForm.controls.mobile.valid || (valForm.controls.mobile.pristine && !submitted)'>请输入手机号码</p>-->
                    <p class="text-danger font_12" *ngIf='(!valForm.controls.mobile.valid) && valForm.controls.mobile.touched '>请输入手机号码</p>
                    <div class="form-group">
                        <input type="password" name="password" class="form-control input-lg ipt_input"
                               formControlName="password" placeholder="密码"/>
                    </div>
                    <p class="text-danger font_12" *ngIf='(!valForm.controls.password.valid) && valForm.controls.password.touched '>请输入密码</p>
                    <div class="row margin_0 margin_b_10">
                        <label class="pull-left remember">
                            <input type="checkbox" name="remember" formControlName="remember"  class=""/>记住密码
                        </label>
                        <span class="pull-right pointer forget" routerLink="/find-password">忘记密码?</span>
                    </div>
                    <i class="fa fa-key"></i>
                    <input type="submit" value="登录"  class="login_btn form-control input-lg">
                </form>
            </div>
            <div class="corner_box_outer">
                <img class="corner1" src="/assets/img/j_1@2x.png" >
                <img class="corner2" src="/assets/img/j_2@2x.png" >
                <img class="corner3" src="/assets/img/j_3@2x.png" >
                <img class="corner4" src="/assets/img/j_4@2x.png" >
            </div>
        </div>
    </div>
</div>

