<section>
    <div class="content_title">日志列表</div>
    <div class="content_inner">
        <div class="admin_filter_box">
            <form class="form-inline" #logForm>
                <div class="form-group margin_r_20">
                    <label>手机号码:</label>
                    <input name="mobile" type="text" class="form-control  ipt_input"/>
                </div>
                <div class="form-group margin_r_20">
                    <label>姓名:</label>
                    <input name="realName" type="text" class="form-control  ipt_input"/>
                </div>
                <button type="submit" (click)="submitForm($event,logForm)" class="btn btn-primary margin_r_5">搜索
                </button>
            </form>
        </div>
        <div class="tableBoxJust">
            <table class="table_normal">
                <thead>
                <tr>
                    <td>序号</td>
                    <td>登陆时间</td>
                    <td>登录姓名</td>
                    <td>登录账号</td>
                    <td>IP地址</td>
                    <td>参考所在地</td>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of systemLogList;let i=index;">
                    <td>{{settings.sortNumber(paginator,i)}}</td>
                    <td>{{item.time| date: 'yyyy-MM-dd HH:mm'}}</td>
                    <td>{{item.user.realName}}</td>
                    <td>{{item.user.mobile}}</td>
                    <td>{{item.ip}}</td>
                    <td *ngIf="item.location!=''">{{item.location}}</td>
                    <td *ngIf="item.location==''">
                        <span *ngIf="!checkProperty('load',item)" class="btn btn-sm table_btn_primary"
                              (click)="getAddress(item)">获取地址</span>
                        <span *ngIf="checkProperty('load',item)" class="btn btn-sm table_btn_primary"><i
                            class="fa fa-spinner fa-spin"></i></span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <paginator [(paginator)]="paginator" (pageChange)="pageChanged($event)"></paginator>
</section>
