<section>
    <div class="content_title">角色列表</div>
    <div class="content_inner">
        <div class="admin_filter_box">
            <div class="filter_row">
                <div class="filter_item float_r">
                    <span class="filter_btn float_r" (click)="showAddModel()">添加角色</span>
                </div>
            </div>
        </div>
        <role-list-index [roleList]="roleList" [paginator]="paginator"  (pageChange)="pageChanged($event)" (editRole)="editRole($event)" (deleteRole)="deleteRole($event)"></role-list-index>
    </div>
</section>
<role-add-index [showAdd]="showAdd" (closeAdd)="closeAddModel()" (addRole)="addRole($event)" ></role-add-index>
R
