<section>
    <div class="content_title">设备列表</div>
    <div class="content_inner">
        <div class="admin_filter_box">
            <div class="filter_row">
                <div class="filter_item float_r">
                    <span class="filter_btn float_r" (click)="showAddModel()">添加设备</span>
                </div>
                <user-search-index></user-search-index>
            </div>
        </div>
        <!--<user-search-index (selectedEvent)="typeSelected($event)" (alarmCreatedEvent)="alarmCreated()" [faultType]="faultType"></user-search-index>-->

        <user-list-index [userList]="userList" [paginator]="paginator"  (pageChange)="pageChanged($event)" (editUser)="editUser($event)" (deleteUser)="deleteUser($event)"></user-list-index>
        <!--<user-list-index [faultList] = "faultList" [(paginator)]="paginator" (pageChange)="pageChanged($event)" (getDataListEE)="getDataList();"></user-list-index>-->
    </div>
</section>
<user-add-index [showAdd]="showAdd" (closeAdd)="closeAddModel()" (addUser)="addUser($event)" ></user-add-index>
