<div class="warningAlertBox" *ngIf="openSelf">
    <div class="inline_box warning_title">
        <img src="/assets/img/warn.png" class=" width_40 margin_r_15">
        <span class="text">告警消息列表</span>
        <span class="close_btn" (click)="closeSelf()">关闭</span>
    </div>
    <div class="content_area margin_t_10">
        <div class="warningAlertItem" *ngFor="let alarm of alarmList; let i=index">
            <div class="imgBox margin_t_10">
                <div class="row ">
                    <div *ngFor="let src of alarm.photos" class="col-xs-6">
                        <img class="warnimg" [src]="src" alt="没有图片">
                        <!--<img class="alertImg"  [src]="imageUr+src" *ngIf="src" alt="没有图片"  >-->
                    </div>
                </div>
            </div>
            <div class="margin_t_10"><strong>对象编号：</strong>{{dic[alarm.target.type]}}({{alarm.target.type=='pipeline'?(alarm.target.object.startPoint.serialNumber+'=>'+alarm.target.object.endPoint.serialNumber):alarm.target.object.serialNumber}})
            </div>
            <div class="margin_t_10"><strong>故障类型：</strong>{{alarmType[alarm.type]}}</div>
            <div class="textArea margin_t_10"><strong>故障描述：</strong>{{alarm.description}}</div>
            <div class="textArea margin_t_10"><strong>上报时间：</strong>{{alarm.time| date: 'yyyy-MM-dd HH:mm:ss'}}</div>
            <div class="margin_t_10 row">
                <button class=" btn btn-lg btn-danger col-xs-6 pull-right" (click)="toPosition(alarm)">定位故障位置</button>
            </div>
        </div>
    </div>

</div>
