
@import "../../../styles.scss";
.warningAlertBox{     position: absolute;  z-index: 1000;  right: 50px;  top: 16px;  width: 340px;   box-shadow: 0px 1px 10px #ccc;  background-color: #fff;}
.warningAlertInner{     margin-top:18px; padding-left: 15px; padding-right: 30px; overflow: hidden; overflow-y: scroll;    height: 263px;
  width: 283px;}
.warningAlertItem{ margin:0 10px 10px; background: #fff; padding: 15px; }
.warningAlerCloseBtn{ background: #fff; cursor: pointer; position: absolute;  right: 0;  top: 0;  background: #fff;  border: 1px solid #21b3e0;  border-radius: 50%;  color: #21b3e0;  z-index: 1;  width: 30px;  height: 30px;  text-align: center;  line-height: 30px;}
.warningAlerCloseBtn:hover{ background: #ccc;}
.warningAlertInner .alertImg{ width: 100%; display: block; height:150px;}
.warning_title{ line-height: 50px; background: #eee; padding: 0 20px;}
.warning_title .text{ font-size: 16px; font-weight: bold;}
.warning_title .close_btn{ font-size: 14px; font-weight: bold; cursor: pointer; float: right; margin-right: 0;}
.content_area{ font-size: 14px; height: 300px; overflow: hidden}
.content_area .warnimg{  height: 100px; width: 100%}
@media screen and (max-width:420px) {

  .warningAlertBox{ bottom: 170px;}
  .warningAlertBox{ height: 150px; width: 260px;}
  .warningAlertInner{ height: 109px;}
}
