
<div class=" tableBoxJust ">
    <table class="table_normal ">
        <thead>
        <tr>
            <td>序号</td>
            <td>账号</td>
            <td>用户名</td>
            <td>系统权限</td>
            <td>区域权限</td>
            <td>创建时间</td>
            <td>操作</td>
        </tr>
        </thead>
        <tbody>
        <!--<tr *ngFor="let v of _userList; let i = index" >-->
            <!--<td>{{listNum(i)}}</td>-->
            <!--<td>{{v.type}}</td>-->
            <!--<td>{{v.sn}}</td>-->
            <!--<td>{{v.status}}</td>-->
            <!--<td>{{v.address}}</td>-->
            <!--<td>{{v.pipelineId}}</td>-->
            <!--<td>{{v.pipelineNumber}}</td>-->
            <!--<td>{{v.pipelineType}}</td>-->
            <!--<td>-->
                <!--<span class="table_btn_primary" (click)="showEditModel(v)">编辑</span>-->
                <!--<span class="table_btn_primary" (click)="showDeleteModel(v.id)">删除</span>-->
            <!--</td>-->
        <!--</tr>-->
        </tbody>
    </table>
</div>
<!--分页-->
<paginator [(paginator)]="paginator" (pageChange)="pageChanged($event)"></paginator>
<user-editor-index [showEdit]="showEdit" [user] = "user" (closeEdit) = closeEditModel() (saveEdit) = "saveEdit($event)"></user-editor-index>
<user-del-index [(showDelete)] = "showDelete" (closeDelete) = "closeDeleteModel()" (delete)="delete()"></user-del-index>
