<div class="modal " *ngIf="showDelete" tabindex="-1" role="dialog" name="create_task" aria-labelledby="gridSystemModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeDeleteModel()">×</button>
                <h4 class="modal-title" id="gridSystemModalLabel">删除设备</h4>
            </div>
            <div class="modal-footer">
            <div class="col-sm-12 pading_r_0">确认要删除该传感器么？</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn model_btn" data-dismiss="modal" (click)="closeDeleteModel()">取消</button>
                <button type="button" class="btn model_btn" (click)="deleteSensor()">确定</button>
            </div>
        </div>
    </div>
</div>
