.importChildren{ height: auto}
ul.domtree,
ul.domtree ul {
  margin: 0;
  padding: 0 0 0 2em;
  font-size: 14px;
}

ul.domtree li {
  list-style: none;
  position: relative;
}

ul.domtree>li:first-child:before {
  border-style: none none solid none;
}

ul.domtree li:before {
  position: absolute;
  content: '';
  top: -0.01em;
  left: -0.7em;
  width: 0.5em;
  height: 0.615em;
  border-style: none none solid solid;
  border-width: 0.05em;
  border-color: #aaa;
}

ul.domtree li:not(:last-child):after {
  position: absolute;
  content: '';
  top: 0.7em;
  left: -0.7em;
  bottom: 0;
  border-style: none none none solid;
  border-width: 0.05em;
  border-color: #aaa;
}
.w200 { width: 120px; float: left;}
.modal-dialog { width: 780px;}
