<section>
	<div class="content_title">工单列表</div>
	<div class="content_inner">

      <workorder-search (getsearcheEvent)="seachlist($event)" [selectedTypeModel]="condition"></workorder-search>
		<!--<div class="row right_nav">-->
			<!--<div class="form-inline">-->
				<!--<a class="btn btn-primary pull-right margin_l_15">添加人员</a>-->
			<!--</div>-->
		<!--</div>-->

      <workorder-list (editEvent)="edit($event)" (feedbackaddEvent)="feedback($event)" (checkupworkorderEvent)="checkupworkorder($event)" (feedbackinfoEvent)="feedbackinfo($event)" (pageChangedEE) ="pageChanged($event)"></workorder-list>
	</div>

	<workorder-addedit (getListEvent)="getlist()"></workorder-addedit>
    <feedback-addedit (getListEvent)="getlist()"></feedback-addedit>
</section>

