<div class="filter_item float_r">
    <span class="filter_btn float_r" (click)="drill()">故障演练</span>
</div>

<div class="modal " *ngIf="_showDrill" tabindex="-1" role="dialog" name="create_task" aria-labelledby="gridSystemModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeDialog()"></button>
                <h4 class="modal-title" id="gridSystemModalLabel">故障信息</h4>
            </div>
            <div class="modal-body">
                <div class="row margin_b_10">
                    <div class="col-sm-2 pading_r_0">对象类型</div>
                    <div class="col-sm-4">
                        <select class="form-control" [(ngModel)]="targetType" (change)="getTargetList()">
                            <option class="form-control" value="pipeline">管道</option>
                            <option class="form-control" value="pipelinePoint">井点</option>
                        </select>
                    </div>
                    <div class="col-sm-2 pading_r_0">故障对象</div>
                    <div class="col-sm-4" *ngIf="_showPipelineList">
                        <select class="form-control" [(ngModel)]="selectedPipelineId">
                            <option class="form-control" value="0">请选择</option>
                            <option class="form-control"  *ngFor="let pipeline of pipelineList" [value]="pipeline.id" >{{pipeline.startPoint.serialNumber}}--{{pipeline.endPoint.serialNumber}}</option>
                        </select>
                    </div>
                    <div class="col-sm-4" *ngIf="_showPipelinePointList">
                        <select class="form-control" [(ngModel)]="selectedPipelinePointId">
                            <option class="form-control" value="0">请选择</option>
                            <option class="form-control"  *ngFor="let point of pipelinePointList" [value]="point.id" >{{point.serialNumber}}</option>
                        </select>
                    </div>
                </div>
                <div class="row margin_b_10">
                    <div class="col-sm-2 pading_r_0">故障类型</div>
                    <div class="col-sm-4">
                        <select class="form-control" [(ngModel)]="fault.faultType">
                            <option class="form-control" value="">请选择</option>
                            <option class="form-control"  value="normal" >{{faultType.normal}}</option>
                            <option class="form-control"  value="collapse" >{{faultType.collapse}}</option>
                            <option class="form-control"  value="blocking" >{{faultType.blocking}}</option>
                            <option class="form-control"  value="seeper" >{{faultType.seeper}}</option>
                            <option class="form-control"  value="stink" >{{faultType.stink}}</option>
                            <option class="form-control"  value="pollution" >{{faultType.pollution}}</option>
                        </select>
                    </div>
                    <div class="col-sm-2 pading_r_0">故障描述</div>
                    <div class="col-sm-4"><input type="text"  class="form-control" [(ngModel)]="fault.description" [value]="fault.description"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn model_btn" data-dismiss="modal" (click)="closeDialog()">取消</button>
                <button type="button" class="btn model_btn" (click)="saveFault()">保存</button>
            </div>
        </div>
    </div>
</div>


