<div class="admin_filter_box">
	<div class="filter_row">
		<span class="filter_title">管道类别：</span>
		<div class="filter_item">
			<span class="filter_btn" [class.active]="pipeline.type==''" (click)="typeChanged('')">全部</span>
			<span class="filter_btn" [class.active]="pipeline.type=='ys'" (click)="typeChanged('ys')">{{pipelineType.ys}}</span>
			<span class="filter_btn" [class.active]="pipeline.type=='ws'" (click)="typeChanged('ws')">{{pipelineType.ws}}</span>
			<span class="filter_btn" [class.active]="pipeline.type=='ps'" (click)="typeChanged('ps')">{{pipelineType.ps}}</span>
		</div>
	</div>
	<div class="filter_row">
		<span class="filter_title">管道材质：</span>
		<div class="filter_item">
			<span class="filter_btn" [class.active]="pipeline.material==''" (click)="materialChanged('')">全部</span>
			<span class="filter_btn" [class.active]="pipeline.material==material" *ngFor="let material of pipelineMaterials" (click)="materialChanged(material)">
				{{material}}
			</span>
		</div>
	</div>
	<div class="filter_row">
		<span class="filter_title">管道直径：</span>
		<div class="filter_item">
			<span class="filter_btn" [class.active]="pipeline.diameter==0" (click)="diameterChanged(99999)">全部</span>
			<span class="filter_btn" [class.active]="pipeline.diameter==diameter" *ngFor="let diameter of pipelineDiameters" (click)="diameterChanged(diameter)">
				{{diameter}}
			</span>
		</div>
	</div>
	<div class="filter_row">
		<span class="filter_title">建设年代：</span>
		<div class="filter_item">
			<span class="filter_btn" [class.active]="pipeline.createdYear==''" (click)="createdYearChanged('')">全部</span>
			<span class="filter_btn" [class.active]="pipeline.createdYear==createdYear" *ngFor="let createdYear of pipelineCreatedYears" (click)="createdYearChanged(createdYear)">
				{{createdYear}}
			</span>
		</div>
	</div>
</div>
