<div class="modal " *ngIf="_showEditModel" tabindex="-1" role="dialog" name="create_task" aria-labelledby="gridSystemModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeDialog()"></button>
                    <h4 class="modal-title" id="gridSystemModalLabel">工单信息</h4>
                </div>
                <div class="modal-body">
                    <div class="row margin_b_10">
                        <div class="col-sm-2 pading_r_0">故障信息</div>
                        <div class="col-sm-4"><input disabled type="text"  class="form-control" [(ngModel)]="alarm.description"></div>
                        <div class="col-sm-2 pading_r_0">完成时间</div>
                        <div class="col-sm-4"><input type="text" id="finish_time" class="form-control"  #finish_time value="{{workorder.finishTime|date:'yyyy-MM-dd HH:mm:ss'}}"></div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="model_btn" data-dismiss="modal" (click)="closeDialog()">取消</button>
                    <button type="button" class="model_btn" (click)="saveWorkOrder()">确认</button>
                </div>
            </div>
        </div>
</div>

