<div class=" tableBoxJust ">
	<table class="table_normal ">
		<thead>
		<tr>
			<td>序号</td>
			<td>管道名称</td>
			<td>管道类别</td>
			<td>管道材质</td>
			<td>管道直径</td>
			<td>建设年代</td>
			<td>起点高程(m) -- 终点高程(m)</td>
			<td>起点埋深(m) -- 终点埋深(m)</td>
		</tr>
		</thead>
		<tbody>
		<tr *ngFor="let pipe of pipelineList; let i = index" >
			<td>{{pipe.id}}</td>
			<td>{{pipe.startPoint.serialNumber}}--{{pipe.endPoint.serialNumber}}</td>
			<td>
				<div *ngIf="pipe.type=='ys'">雨水</div>
				<div *ngIf="pipe.type=='ws'">污水</div>
				<div *ngIf="pipe.type=='ps'">雨污混流</div>
			</td>
			<td>{{pipe.material}}</td>
			<td>{{pipe.diameter}}</td>
			<td>{{pipe.createdYear}}</td>
			<td>{{pipe.startElevation.bottom}}--{{pipe.endElevation.bottom}}</td>
			<td>{{pipe.startDepth}}--{{pipe.endDepth}}</td>
		</tr>
		</tbody>
	</table>
</div>
<!--分页-->
<paginator [(paginator)]="paginator" (pageChange)="pageChanged($event)"></paginator>
