<section>
    <div class="content_title">设备列表</div>
    <div class="content_inner">
        <div class="admin_filter_box">
            <div class="filter_row">
                <div class="filter_item float_r">
                    <span class="filter_btn float_r" (click)="showAddModel()">添加设备</span>
                </div>
                <sensor-search-index></sensor-search-index>
            </div>
        </div>
        <!--<sensor-search-index (selectedEvent)="typeSelected($event)" (alarmCreatedEvent)="alarmCreated()" [faultType]="faultType"></sensor-search-index>-->

        <sensor-list-index [sensorList]="sensorList" [paginator]="paginator"  (pageChange)="pageChanged($event)" (editSensor)="editSensor($event)" (deleteSensor)="deleteSensor($event)"></sensor-list-index>
        <!--<sensor-list-index [faultList] = "faultList" [(paginator)]="paginator" (pageChange)="pageChanged($event)" (getDataListEE)="getDataList();"></sensor-list-index>-->
    </div>
</section>
<sensor-add-index [showAdd]="showAdd" (closeAdd)="closeAddModel()" (addSensor)="addSensor($event)" ></sensor-add-index>
