#map_area {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ccc;
    left: 0;
    top: 0;
}

.mapBackBtn {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: auto
}
