<div class=" tableBoxJust ">
	<table class="table_normal ">
		<thead>
		<tr>
			<td>序号</td>
			<td>故障对象</td>
			<td>故障类型</td>
			<td>故障描述</td>
			<td>上报时间</td>
            <td>处理状态</td>
			<td>操作</td>
		</tr>
		</thead>
		<tbody>
		<tr *ngFor="let v of faultList; let i = index" >
		<td>{{v.id}}</td>
		<td>
			<div *ngIf="v.target.type=='pipelinePoint'">管井{{v.target.object.serialNumber}}</div>
			<div *ngIf="v.target.type=='pipeline'">管道{{v.target.object.startPoint.serialNumber}}---{{v.target.object.endPoint.serialNumber}}</div>
		</td>
		<td>{{faultType[v.faultType]}}</td>
		<td>{{v.description}}</td>
		<td>{{v.time|date:'yyyy-MM-dd HH:mm:ss'}}</td>
        <td>
            <div *ngIf="v.handleStatus == 'HANDLED'" class="color_green">已处理</div>
            <div *ngIf="v.handleStatus == 'PENDING'" class="color_red">未处理</div>
            <div *ngIf="v.handleStatus == 'HANDLING'">处理中</div>
        </td>
		<td>
			<span *ngIf="v.handleStatus == 'PENDING'" class="table_btn_primary" (click)="addWorkOrder(v)">创建工单</span>
		</td>
		</tr>
		</tbody>
	</table>
</div>
<!--分页-->
<paginator [(paginator)]="paginator" (pageChange)="pageChanged($event)"></paginator>

<!--创建工单-->
<workorder-edit [showEditModel]="showEditModel" [alarm]="currentAlarm" [workorder]="currentWorkOrder" (submit)="saveWorkOrder($event)" (close)="closeWorkOrder()"></workorder-edit>
