<div class="modal fade-in margin_t_80" *ngIf="showEditor">
    <form class="modal-dialog addGroupForm width_700"  role="form">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"  (click)="cancel()"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" >阀值设置</h4>
            </div>
            <div class="modal-body">
                <div class="form-group margin_b_10 row">
                    <label class="col-sm-2 text-right pading_r_0 control-label">传感器id:</label>
                    <div class="col-sm-10">
                        {{sensorThreshold.sensorId}}
                    </div>
                </div>
                <div class="form-group margin_b_10 row">
                    <label class="col-sm-2 text-right pading_r_0 control-label">预警阀值区间:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control width_100 inline_b" name="prewarningValueFrom" value="" [(ngModel)]="sensorThreshold.prewarning.valueFrom">
                        --
                        <input type="text" class="form-control width_100 inline_b" name="prewarningValueTo" value="" [(ngModel)]="sensorThreshold.prewarning.valueTo">
                    </div>
                </div>
                <div class="form-group margin_b_10 row">
                    <label class="col-sm-2 text-right pading_r_0 control-label">告警阀值区间:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control width_100 inline_b" name="warningValueFrom" value="" [(ngModel)]="sensorThreshold.warning.valueFrom">
                        --
                        <input type="text" class="form-control width_100 inline_b" name="warningValueTo" value="" [(ngModel)]="sensorThreshold.warning.valueTo">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="model_btn"  (click)="cancel()">取消</button>
                <button type="button" class="model_btn" (click)="save()">保存</button>
            </div>
        </div>
    </form>
</div>
