<div class="content_title">
    工单概览
</div>
<div class="content_inner">
    <div class="row">
        <a *ngFor="let v of datalist" [routerLink]="['/admin/workorder/management']"
           [queryParams]="{condition:v.code }">
            <div class="col-lg-3 col-sm-6" *ngIf="v.number!=0">
                <!-- START widget-->
                <div class="panel  panel_overview">
                    <div class="row  margin_0 overview_items">
                        <div *ngIf="v.code == 'pending'" class="item_icon bg-primary">
                            <em class="icon-paper-clip fa-3x"></em>
                        </div>
                        <div *ngIf="v.code == 'rejected'" class="item_icon bg-danger">
                            <em class="icon-close fa-3x"></em>
                        </div>
                        <div *ngIf="v.code == 'processing'" class="item_icon bg-info">
                            <em class="icon-wrench fa-3x"></em>
                        </div>
                        <div *ngIf="v.code == 'processed'" class="item_icon bg-warning">
                            <em class="icon-emotsmile fa-3x"></em>
                        </div>
                        <div *ngIf="v.code == 'closed'" class="item_icon bg-success">
                            <em class="icon-lock fa-3x"></em>
                        </div>
                        <div class="item_content">
                            <div class="h4 mt0">{{v.number}}条工单</div>
                            <div class="text-uppercase">{{v.name}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>
