<div class=" tableBoxJust ">
    <table class="table_normal ">
        <thead>
        <tr>
            <td>序号</td>
            <td>井点编号</td>
            <td>特征</td>
            <td>附属物</td>
            <td>坐标(经度)</td>
            <td>坐标(纬度)</td>
            <td>高程(顶)</td>
            <td>高程(底)</td>
            <td>地面</td>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let point of pipelinepointList; let i = index" >
            <td>{{point.id}}</td>
            <td>{{point.serialNumber}}</td>
            <td>{{point.feature}}</td>
            <td>{{point.attachment}}</td>
            <td>{{point.coordinate.longitude}}</td>
            <td>{{point.coordinate.latitude}}</td>
            <td>{{point.elevation.top}}</td>
            <td>{{point.elevation.bottom}}</td>
            <td>{{point.ground}}</td>
        </tr>
        </tbody>
    </table>
</div>
<!--分页-->
<paginator [(paginator)]="paginator" (pageChange)="pageChanged($event)"></paginator>
