<div class="modal " *ngIf="_showEdit" tabindex="-1" role="dialog" name="create_task" aria-labelledby="gridSystemModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeEditModel()">×</button>
                <h4 class="modal-title" id="gridSystemModalLabel">编辑角色</h4>
            </div>
            <div class="modal-body">
                <div class="row margin_b_10">
                    <div class="col-sm-2 pading_r_0">角色名称</div>
                    <div class="col-sm-4"><input type="text"  [(ngModel)]="role.name" class="form-control" ></div>
                    <div class="col-sm-2 pading_r_0">角色编码</div>
                    <div class="col-sm-4"><input type="text"  [(ngModel)]="role.code" class="form-control" ></div>
                    <!--<div class="col-sm-2 pading_r_0">传感器类型</div>-->
                    <!--<div class="col-sm-4">-->
                        <!--<select class="form-control" [(ngModel)]="role.type">-->
                            <!--<option class="form-control" value="LIQUID_LEVEL">液位传感器</option>-->
                            <!--<option class="form-control" value="FLOW_SPEED">流速传感器</option>-->
                            <!--<option class="form-control" value="CAMERA">摄像头</option>-->
                        <!--</select>-->
                    <!--</div>-->
                    <!--<div class="col-sm-2 pading_r_0">传感器SN编号</div>-->
                    <!--<div class="col-sm-4"><input type="text"  [(ngModel)]="role.sn" class="form-control" ></div>-->
                <!--</div>-->
                <!--<div class="row margin_b_10">-->
                    <!--<div class="col-sm-2 pading_r_0">设备地址</div>-->
                    <!--<div class="col-sm-4"><input type="text" [(ngModel)]="role.address" class="form-control" ></div>-->
                    <!--<div class="col-sm-2 pading_r_0">产品id</div>-->
                    <!--<div class="col-sm-4"><input type="text" [(ngModel)]="role.productId" class="form-control" ></div>-->
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn model_btn" data-dismiss="modal" (click)="closeEditModel()">取消</button>
                <button type="button" class="btn model_btn" (click)="saveRole()">确定</button>
            </div>
        </div>
    </div>
</div>
