<div class="modal " *ngIf="showEditModal" tabindex="-1" role="dialog" name="create_task" aria-labelledby="gridSystemModalLabel">
	<form class="modal-dialog editDeviceForm width_700"  role="form">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<input name="alarmid" type="hidden" value="{{alarmid}}">
				<input name="workorderid" type="hidden" value="{{workorderid}}">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeEdit()"><span aria-hidden="true"></span></button>
				<h4 class="modal-title" id="gridSystemModalLabel">编辑工单</h4>
			</div>
			<div class="modal-body">
				<div class="row margin_b_10">
					<div class="col-sm-2 pading_r_0">故障信息</div>
					<div class="col-sm-4"><input disabled type="text"  class="form-control" value="{{wokeorder.alarm.description}}"></div>
					<input  type="hidden"  class="form-control"  >
					<div class="col-sm-2 pading_r_0">要求完成时间</div>
					<div class="col-sm-4"><input type="text" name="finishtime" id="finish_time"  class="form-control finishtime" #finish_time value="{{wokeorder.finishTime|date:'yyyy-MM-dd HH:mm:ss'}}"  ></div>
				</div>

                <input name="status" type="hidden" value="{{wokeorder.status}}">
				<!--<div class="row">-->
					<!--<div class="col-sm-2 pading_r_0">工单状态</div>-->
					<!--<div class="col-sm-4">-->
						<!--<select class="form-control" name="status" [(ngModel)]="wokeorder.status">-->
							<!--<option class="form-control" value="">请选择</option>-->
							<!--<option class="form-control"  *ngFor="let v of wokerorderStatus" [value]="v.code" >{{v.name}}</option>-->
						<!--</select>-->
					<!--</div>-->
				<!--</div>-->

			</div>
			<div class="modal-footer">
				<button type="button" class="model_btn" data-dismiss="modal" (click)="closeEdit()">取消</button>
				<button type="button" class="model_btn" (click)="save()">确认</button>
			</div>
		</div>
	</div>
	</form>
</div>

