<div class=" tableBoxJust ">
    <table class="table_normal ">
        <thead>
        <tr>
            <td>序号</td>
            <td>传感器id</td>
            <td>预警阀值区间</td>
            <td>告警阀值区间</td>
            <td>操作</td>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of sensorList; let i = index" >
            <td>{{i+1}}</td>
            <td>{{item.sensorId}}</td>
            <td>{{item.prewarning.valueFrom}}--{{item.prewarning.valueTo}}</td>
            <td>{{item.warning.valueFrom}}--{{item.warning.valueTo}}</td>
            <td>
                <span class="table_btn_primary" (click)="setThreshold(item.sensorId)">设置阀值</span>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<!--分页-->
<paginator [(paginator)]="paginator" (pageChange)="pageChanged($event)"></paginator>