<div class=" tableBoxJust ">
	<table class="table_normal ">
		<thead>
		<tr>
			<td>编号</td>
			<td>名称</td>
			<td>计划</td>
			<td>创建人</td>
			<td>创建时间</td>
			<td>激活状态</td>

			<td>操作</td>
		</tr>
		</thead>
		<tbody>
		<tr *ngFor="let v of exampleList;let i = index">
			<td>{{listNum(i)}}</td>
			<td>{{v.name}}</td>
			<td>{{showSchedule(v.schedule.weekday)}}</td>
            <td><span *ngIf="v.creator!=null">{{v.creator.realName}}</span></td>
            <td>{{v.createAt|date:'yyyy-MM-dd'}}</td>
            <td><span *ngIf="v.enabled">是</span><span *ngIf="!v.enabled">否</span></td>
			<td>
			    <span class="table_btn_primary"   (click)="edit(v)">详情</span>
                <span class="table_btn_primary"   (click)="edit(v)">编辑</span>
                <span class="table_btn_primary"   (click)="deleteId(v.id)">删除</span>
            </td>
		</tr>
		</tbody>
	</table>
</div>

<paginator [(paginator)]="paginator" (pageChange)="pageChanged($event)"></paginator>
