<div class="pipelinehistoricData" *ngIf="openSelf">
  <div class="chartArea container">
    <h4 class="text-center">{{pipeLineName}}</h4>
    <div class="pipelineChartCloseBtn" (click)="closeSelf()">X</div>
    <div class="row margin_0 margin_t_20">
      <div class="col-sm-3">
        <div class="panel panel-default">
          <!--<div class="panel-heading">Panel heading without title</div>-->
          <div class="panel-body">
            <div id="chartFlux"  class="pilineChartBox" ></div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="panel panel-default">
          <!--<div class="panel-heading">Panel heading without title</div>-->
          <div class="panel-body">
            <div id="chartWaterLevel"  class="pilineChartBox" ></div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="panel panel-default">
          <!--<div class="panel-heading">Panel heading without title</div>-->
          <div class="panel-body">
            <div id="chartSpeed"  class="pilineChartBox" ></div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="panel panel-default">
          <!--<div class="panel-heading">Panel heading without title</div>-->
          <div class="panel-body">
            <div id="chartTemperature"  class="pilineChartBox" ></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
