<div class="body_login">
    <div class="login-container">
        <div class="login_title_box inline_box">
            <img class="login_logo" src="/assets/img/logo@2x.png">
            <span class="login_title">地下污水管网信息化智能管理平台</span>
        </div>

        <div class="login_content">
            <div class="login_pic"></div>
            <img class="login_logo_left" src="/assets/img/index_l_bg@2x.png" >
            <div class="login_form">
                <form [formGroup]="valForm"  (ngSubmit)="submitForm($event,valForm)">
                    <div class="form_title">忘记密码</div>
                    <div class="form-group">
                        <input type="text" name="mobile" class="form-control input-lg ipt_input"
                               formControlName="mobile" placeholder="手机号码"/>
                    </div>
                    <p class="text-danger font_12" *ngIf='(!valForm.controls.mobile.valid ) && valForm.controls.mobile.touched '>请输入手机号码</p>
                    <div class="form-group">
                        <input type="password" name="password" class="form-control input-lg ipt_input"
                               formControlName="password" placeholder="密码"/>
                    </div>
                    <p class="text-danger font_12" *ngIf='(!valForm.controls.password.valid) && valForm.controls.password.touched '>密码要求数字及大小写字母，长度6到16</p>
                    <div class="form-group">
                        <input type="password" name="passwordCertain" class="form-control input-lg ipt_input"
                               formControlName="passwordCertain" placeholder="确认新密码"/>
                    </div>
                    <p class="text-danger font_12" *ngIf='(!valForm.controls.passwordCertain.valid) && valForm.controls.passwordCertain.touched '>两次密码不一致</p>
                    <div class="form-group">
                        <input type="text" name="code" class="form-control input-lg ipt_input"
                               formControlName="code" placeholder="验证码"/>
                        <span class="btn btn-default btn-sm send_yzm"  [class.disabled]="checkCountBegin" (click)="getYzm()">{{leftWord}}</span>
                    </div>
                    <p class="text-danger font_12" *ngIf='(!valForm.controls.code.valid) && valForm.controls.code.touched '>请输入验证码</p>
                    <div class="row margin_lr_0">
                        <button class="btn login_btn width_049 pull-left  btn-lg">确认修改</button>
                        <span routerLink="/login" class="btn btn-default cancel_btn width_049 pull-right  btn-lg">取消</span>
                    </div>
                </form>
            </div>
            <div class="corner_box_outer">
                <img class="corner1" src="/assets/img/j_1@2x.png" >
                <img class="corner2" src="/assets/img/j_2@2x.png" >
                <img class="corner3" src="/assets/img/j_3@2x.png" >
                <img class="corner4" src="/assets/img/j_4@2x.png" >
            </div>
        </div>
    </div>
</div>

